{% extends 'base.html.twig' %}

{% block title %}Chef index{% endblock %}

{% block body %}
    <h1>Chef index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>BirthDate</th>
                <th>Address</th>
                <th>Phone</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for chef in chefs %}
            <tr>
                <td>{{ chef.id }}</td>
                <td>{{ chef.Name }}</td>
                <td>{{ chef.BirthDate ? chef.BirthDate|date('Y-m-d') : '' }}</td>
                <td>{{ chef.Address }}</td>
                <td>{{ chef.Phone }}</td>
                <td>
                    <a href="{{ path('chef_show', {'id': chef.id}) }}">show</a>
                    <a href="{{ path('chef_edit', {'id': chef.id}) }}">edit</a>
                </td>
            </tr>
        </tbody>
         {% endfor %}
    </table>

    <a href="{{ path('chef_new') }}">Create new</a>
{% endblock %}
